header{
    border-bottom-style: solid;
    border-bottom-color: orange;
}
.navbar{
    border: 0px; 
    margin: 0px;
    padding: 0px 90px;
    background-color: white;   
}
section#home .txt{
    
    color: white;
    opacity: 1;
}
.ul{
    height: 1px;
    width: 100px;
    margin: auto;
}
.padding-0 {
    padding: 0 !important;
}

section#home {
    background-color: black;
    
}
section#home .txt {
    padding: 100px;
}
h1{
    padding: 30px 0px 10px 0px; 
}
section#home p,button {
    margin: 30px;
    color: white;
    opacity: 1;
    padding: 5px;
}

section#who-we-are {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    background-size:cover;
}
section#who-we-are .abc {
    padding: 200px 0;
    color: white;
}
section#who-we-are .abc h2 {
    margin: 0px;
    padding: 10px;
    color:white;
}
section#who-we-are .abc div {
    background-color: white;
}
section#who-we-are .abc p {
    margin: 20px 150px;
    color:white;
}
section#who-we-are .abc button {
    color: black; 
    background-color:white; 
}

section#portfolio {
    text-align: center;
    background-color: white;
    color: black;
    padding: 50px;
}
section#portfolio h1 {
    margin: 0px; 
    padding: 20px 0px 15px 0px; 
    color: black;
}
section#portfolio ul {
    padding: 25px 0px 40px 0px;
}

section#portfolio ul li {
    display: inline;
    padding: 10px;
    
}
section#portfolio ul li a {
    background-color: white;
    color: black;
}
section#portfolio .row .col-md-3 img {
    width: 100%;
}
section#team {
    padding: 50px;
}
section#team .team-member img {
    margin: 10px;
    width: 100%
}
section#team .ul {
       background-color: yellow; 
       padding: 3px; 
       width: 230px;
}
section#team h1 {
    margin: 0px; 
    padding: 20px 0px 20px 0px; 
    color: black;
}
section#counters h2 {
    margin: 0px; 
    color:white; 
    padding: 40px 0px 40px 0px;
}
section#counters .items {
    padding: 50px;
}
section#counters .overlay {
    padding: 100px;
    color: white;
}
section#testimonials {
    padding: 90px;
}
section#testimonials p {
    padding: 20px;
}
section#testimonials h2 {
    margin: 0px; 
    padding: 30px 0px 10px 0px; 
    color: black;
}
section#designs {
    background-color: #fdfd11;
}
section#designs img {
    padding: 60px;
}
section#last-news {
padding: 100px;
}
section#last-news h2 {
    padding: 10px 0px 0px 0px;
}
section#last-news .news {
    padding: 20px 110px;
    
}
section#last-news .item {
    float: left;
}
section#last-news img {
    width: 300px;
    height: 250px;
}
section#last-news .item div {
    padding: 10px;
}
section#footer-menu {
    background-color: #666;
    color: white;
}
section#footer-menu ul {
    text-align: center;
    padding: 30px;
}
section#footer-menu li {
    display: inline;
    text-align: center;
    padding: 30px;
    color: white;
}
section#footer-menu li a {
    color: white;
}
footer{
    text-align: center;
    padding: 20px;
}
footer i {
    background-color: #666;
    color: white;
    padding: 5px;
}